*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/bgdark.jpg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    /* Atalho Background: color image repeat position/size */

    font-family: 'Inter', sans-serif;
    color: white;
}

#container {
    width: 360px;
    margin: auto;
    padding-top: 56px;
}

#profile {
    text-align: center; /* Alinhas elementos filhos iline sem uso de display block */
    padding: 24px;
}

#profile img {
    width: 112px;
    margin: auto;
}

#profile p {
    line-height: 24px;
    font-weight: 500;
    margin-top: 8px;
}


/* Links */

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    color: white;

    transition: background 0.2s;
}

/*Pseudo-Selector*/

li a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;
}