*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url('images/bgdark.jpg.jpg');
    --stroke-color:  rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url('moon.svg');
}

.light {
    --text-color: black;
    --bg-url: url('images/bglight.jpg');
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url('sun.svg');
}
body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    /* Atalho Background: color image repeat position/size */

    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 360px;
    margin: auto;
    padding: 0 24px;

}
/*Profile*/

#profile {
    text-align: center; /* Alinhas elementos filhos iline sem uso de display block */
    padding: 24px;
}

#profile img {
    width: 112px;
    margin: auto;
}

#profile p {
    line-height: 24px;
    font-weight: 500;
    margin-top: 8px;
}

/* Switch*/

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;

}

#switch button {
    width: 32px;
    height: 32px;
    background: white;
    border: 0;
    border-radius: 50px;
    background-image: var(--switch-bg-url);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}

.light #switch button{
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--surface-color);
    border: 1 px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}


/* Links */

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

li {
    
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;

    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);

    transition: background 0.2s;
}

/*Pseudo-Selector*/

li a:hover {
    background-color: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/*ícones Sociais*/

#social {
    display: flex;
    /*gap: 16px;*/
    padding: 24px 0;
    font-size: 24px;
    justify-content: center;
}

#social a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;
}

#social a:hover {
    background-color: var(--highlight-color);
    padding: 16px;
    
}

/*Rodapé*/

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}